<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.happycode.qrlink">

    <uses-feature android:name="android.hardware.camera" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icon_round"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.Light.NoTitleBar">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Playback"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen">
            >
        </activity>
        <activity android:name=".YoutubePlayback"
            >
        </activity>

        <activity
            android:name=".ui.ActivityList.ActivitySplashScreen"
            android:configChanges="orientation|keyboardHidden|screenSize|smallestScreenSize"
            android:screenOrientation="portrait"
            android:noHistory="true"
            >
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN" />-->

                <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity>

        <activity
            android:name=".ui.ActivityList.ActivityLauncher"
            android:configChanges="orientation|keyboardHidden|screenSize|smallestScreenSize"
            android:screenOrientation="portrait"
            >
        </activity>

        <activity
            android:name=".ui.ActivityList.AboutScreen"
            android:configChanges="orientation|keyboardHidden|screenSize|smallestScreenSize"
            android:screenOrientation="portrait"
            android:noHistory="true"
            >
        </activity>

        <activity
            android:name=".app.ImageTargets.ImageTargets"
            android:configChanges="orientation|keyboardHidden|screenSize|smallestScreenSize"
            android:theme="@style/SampleAppsTheme"
            android:launchMode="singleTask"
            >
        </activity>

        <activity
            android:name=".app.VuMark.VuMark"
            android:configChanges="orientation|keyboardHidden|screenSize|smallestScreenSize"
            android:theme="@style/SampleAppsTheme"
            android:launchMode="singleTask"
            >
        </activity>

        <activity
            android:name=".app.TextRecognition.TextReco"
            android:configChanges="orientation|keyboardHidden|screenSize|smallestScreenSize"
            android:theme="@style/SampleAppsTheme"
            android:launchMode="singleTask"
            >
        </activity>

        <activity
            android:name=".app.CylinderTargets.CylinderTargets"
            android:configChanges="orientation|keyboardHidden|screenSize|smallestScreenSize"
            android:theme="@style/SampleAppsTheme"
            android:launchMode="singleTask"
            >
        </activity>

        <activity
            android:name=".app.VirtualButtons.VirtualButtons"
            android:configChanges="orientation|keyboardHidden|screenSize|smallestScreenSize"
            android:theme="@style/SampleAppsTheme"
            android:launchMode="singleTask"
            >
        </activity>

        <activity
            android:name=".app.UserDefinedTargets.UserDefinedTargets"
            android:configChanges="orientation|keyboardHidden|screenSize|smallestScreenSize"
            android:theme="@style/SampleAppsTheme"
            android:launchMode="singleTask"
            >
        </activity>

        <activity
            android:name=".app.MultiTargets.MultiTargets"
            android:configChanges="orientation|keyboardHidden|screenSize|smallestScreenSize"
            android:theme="@style/SampleAppsTheme"
            android:launchMode="singleTask"
            >
        </activity>

        <activity
            android:name=".app.CloudRecognition.CloudReco"
            android:configChanges="orientation|keyboardHidden|screenSize|smallestScreenSize"
            android:theme="@style/SampleAppsTheme"
            android:launchMode="singleTask"
            >
        </activity>

        <activity
            android:name=".app.ObjectRecognition.ObjectTargets"
            android:configChanges="orientation|keyboardHidden|screenSize|smallestScreenSize"
            android:theme="@style/SampleAppsTheme"
            android:launchMode="singleTask"
            >

        </activity>
    </application>

</manifest>